/venv
/.idea
/.vscode
/.pytest_cache


**/__pycache__

/datasets/BDMediLeaves/BDMediLeaves_TrainValTest/**
/datasets/BDMediLeaves/BDMediLeaves_Augmented/**
/datasets/kvasir/kvasir-dataset-v2/**
/datasets/kvasir/kvasir-dataset-v2-features/**

**/*.ckpt
**/*.pth
**/*.pt
**/*.pkl
**/*.model
**/*.h5
**/*.hdf5
**/*.ipynb_checkpoints
**/*.log


**/.DS_Store
